body {
    min-width: 750px;
    margin: 0 auto;
    font-family: 'Menlo Regular', monospace;
}

#app {
    height: 100%;
}

#account {
    padding: 0 0 0 0;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

.account {
    float: none;
    padding: 20px 0;
    background-color: #f2f2f2;
}

.navbar {
    float: none;
    padding: 12px;
    border-top: 1px solid #dee2e6;
}

form {
    padding: 12px;
    margin: 50px auto 0 auto;
    max-width: 400px;
    text-align: center;
}

input, textarea, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 10px;
    padding: 10px;
    font-family: monospace;
    width: 250px;
    border: 1px solid #dee2e6;
}

textarea {
    resize: vertical;
}

fieldset {
    padding: 15px;
    border: none;
}

.button {
    background-color: rgb(247, 106, 127);
    border: none;
    font-size: 13px;
    height: 100%;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    width: 272px;
    text-decoration: none;
}

#submit {
    background-color: rgb(247, 106, 127);
    border: none;
    font-size: 13px;
    height: 100%;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    width: 272px;
}

#reset {
    background-color: #359aff;
    border: none;
    font-size: 13px;
    height: 100%;
    margin-top: 0;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    width: 272px;
}

.grecaptcha-badge {
    visibility: hidden;
}

#status {
    margin: 0 auto;
    padding: 12px;
    font-size: 14px;
    max-width: 400px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        min-width: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {
    form {
        border: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 590px) {
    .navbar {
        float: none;
        padding: 12px;
        border-top: 1px solid #dee2e6;
    }
}